@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#questionnaire-title {
    text-align: center;
    margin: 2em;
}

.question {
    margin: 1em;
    padding: 1em;
    border: solid;
}

.question h2 {
    margin-bottom: 1em;
}

.multi-select {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.buttons {
    margin-left: 2em;
    margin-bottom: 1em;
}

#questionnaire-form {
    margin: auto;
    margin-left: 1em;
    margin-right: 1em;
    /* border: solid; */
}

@media only screen and (min-width: 600px) {
    .multi-select {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
    }
}